<div>
    <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="javascript:;" (click)="firstPage()">First</a></li>
              <li class="page-item"><a class="page-link" href="javascript:;" (click)="previousPage()">Previous</a></li>
              <li *ngFor="let p of pages; let i = index" class="page-item"><a class="page-link" [ngClass]="{ 'pageActive' : p === page }" href="javascript:;" (click)="clickPage(p)">{{p}}</a></li>
              <li class="page-item"><a class="page-link" href="javascript:;" (click)="nextPage()">Next</a></li>
              <li class="page-item"><a class="page-link" href="javascript:;" (click)="lastPage()">Last</a></li>
            </ul>
          </nav>
</div>