    
<nav class="navbar">

    <div class="container">
      <div class="ui-g">
        <div class="ui-g-12">
          <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="fa fa-bars"></i></a>
        </div>
      </div>
    </div>
  
    <ul class="navbar-menu" [hidden]="!exibindoMenu">
      <!--<li class="navbar-usuario">{{ auth.jwtPayload?.nome }}</li>-->
      <li class="navbar-usuario">USUÁRIO</li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/despesas">Despesas</a></li>
      <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/processos">Processos</a></li>
      <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
    </ul>
  
</nav>