<div class="container">
    <div>
        <h1>Consulta de Despesas</h1>
    </div>

    <div>
        <form autocomplete="off" (ngSubmit)="pesquisar()">
            <div class="row">
                <div class="form-group col-sm-6">
                <label for="edtUnidadeGestora">Unidade Gestora</label>
                <input type="number" class="form-control" id="edtUnidadeGestora" aria-describedby="gestoraHelp" placeholder="Gestora" required
                    name="unidadeGestora" [(ngModel)]="filtro.RED_GESTORA">

                </div>

                <div class="form-group col-sm-6">
                    <label for="edtAnoVigente">Ano Vigente</label>
                    <input type="number" class="form-control" id="edtAnoVigente" aria-describedby="anoVigenteHelp" placeholder="Ano Vigente" required
                        name="anoVigente" [(ngModel)]="filtro.ANO_VIGENTE">

                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="edtFicha">Ficha</label>
                    <input type="number" class="form-control" id="edtFicha" aria-describedby="fichaHelp" placeholder="Ficha" required
                        name="ficha" [(ngModel)]="filtro.COD_FICHA">

                </div>

                <div class="form-group col-sm-6">
                    <label for="edtDespesa">Despesa</label>
                    <input type="text" class="form-control" id="edtDespesa" aria-describedby="despesaHelp" placeholder="Despesa"
                        name="despesa" [(ngModel)]="filtro.COD_DESPESA">

                </div>            
            </div>    
            
            <div class="row my-3">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>    
            </div>    
          </form>
    </div>

    <div class="container">
        <div class="row">
                <table class="table table-hover table-sm">
                        <thead class="thead-dark"> 
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Gestora</th>
                            <th scope="col">Ano</th>
                            <th scope="col">Ficha</th>
                            <th scope="col">Despesa</th>
                        </tr>
                        </thead>

                        <tbody *ngFor="let despesa of despesas; let i = index">
                        <tr>
                            <th scope="row">{{i+1}}</th>
                            <td>{{despesa.RED_GESTORA}}</td>
                            <td>{{despesa.ANO_VIGENTE}}</td>
                            <td>{{despesa.COD_FICHA}}</td>
                            <td>{{despesa.COD_DESPESA}}</td>
                        </tr>
                        </tbody>

                    </table>
        </div>    
    </div>    
    <app-brpagination [collectionSize]="totalRecords" (mudarDePagina)="mudarDePagina($event)"></app-brpagination>
</div>