<div class="container">
    <div>
        <h1>Consulta de Processos</h1>
    </div>

    <div>
        <form autocomplete="off" (ngSubmit)="pesquisar()">
            <div class="row">
                <div class="form-group col-sm-6">
                <label for="edtUnidadeGestora">Unidade Gestora</label>
                <input type="number" class="form-control" id="edtUnidadeGestora" aria-describedby="gestoraHelp" placeholder="Gestora" required
                    name="unidadeGestora" [(ngModel)]="filtro.RED_GESTORA">

                </div>

                <div class="form-group col-sm-6">
                    <label for="edtAnoProcesso">Ano Processo</label>
                    <input type="number" class="form-control" id="edtAnoProcesso" aria-describedby="anoProcessoHelp" placeholder="Ano Processo" required
                        name="anoProcesso" [(ngModel)]="filtro.LIC_S_ANO">

                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="edtProcesso">Processo</label>
                    <input type="text" class="form-control" id="edtProcesso" aria-describedby="processoHelp" placeholder="Processo"
                        name="processo" [(ngModel)]="filtro.LIC_I_PROC">

                </div>            
            </div>    
            
            <div class="row my-3">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>    
            </div>    
          </form>
    </div>

    <div class="container">
        <div class="row">
                <table class="table table-hover table-sm">
                        <thead class="thead-dark"> 
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Gestora</th>
                            <th scope="col">Ano</th>
                            <th scope="col">Processo</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody *ngFor="let processo of processos; let i = index">
                        <tr>
                            <th scope="row">{{i+1}}</th>
                            <td>{{processo.RED_GESTORA}}</td>
                            <td>{{processo.LIC_S_ANO}}</td>
                            <td>{{processo.LIC_I_PROC}}</td>
                            <td>
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="fa fa-copy" aria-hidden="true" (click)="abrirModal(processo, processoModal)"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>

                    </table>
        </div>    
    </div>    
    <app-brpagination [collectionSize]="totalRecords" (mudarDePagina)="mudarDePagina($event)"></app-brpagination>

    <ng-template #processoModal>
        <!-- Modal class="modal fade"  -->
        <div id="ExemploModalCentralizado" role="dialog"  tabindex="-1" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="TituloModalCentralizado">Processo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label>Unidade Gestora: </label>
                            <label>{{processo.RED_GESTORA}}</label>
                        </div>
                        <div>
                            <label>Ano: </label>
                            <label>{{processo.LIC_S_ANO}}</label>
                        </div>
                        <div>
                            <label>Processo: </label>
                            <label>{{processo.LIC_I_PROC}}</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="fecharModal()">Fechar</button>
                        <button type="button" class="btn btn-primary" (click)="copiar(processo)">Copiar</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    
</div>